.nav{
  display: flex;
  justify-content: space-between;
  background-color: skyblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  height: 3rem;
  align-items: center;
}
nav .logo{
  padding-left: 10px;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 5px;
  margin-right: 10px;

}
nav ul li{
  font-weight: bold;
  margin: 10px;
  margin-right: 10px;
}
.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 800;
  background-color: aliceblue;
  color: black;
  width: 20vw;
  /* border-right: 3px solid black; */

}

.sidebar ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 5px;
  padding-left: .5rem;
}
.sidebar ul li{
  padding: 1rem;
  margin: 5px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.sidebar ul li:hover{
  background-color: yellowgreen;
  cursor: pointer;
}
.content{
  width: 80vw;
  background-color: white;
  margin: 10px;
}
.main{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: white;
  color: black;
  height: calc(100vh - 3rem)
}
/* .app{
  height: 100vh;
  background-color: bisque;
} */


.settings{
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin:5px;
  border-radius: 5px;
  font-weight: 600;

}

.settings:hover{
  background-color: coral;
  cursor: pointer;
}